main{
    width: 95%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    image-rendering: auto;
}

.card {
    width: 25%;
    height: 40%;
    margin: 10px;
    border-radius: 15px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.card > img {
    width: 100%;
    height: 80%;
    border-radius: 15px;
}

.card > h2 {
    font-size: 125%;
    color: blue;
}

